# Dependencies
node_modules
**/node_modules

# Build artifacts
dist
**/dist
build
**/build

# IDE/VCS
.git
.gitignore
.vscode
.idea
*.swp

# Benchmarking artifacts
bench/experiments

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Misc
docs/
test_models/
*.md
*.pdf
*.png
*.svg